.cPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.completion {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../assets/full.svg");
  background-size: cover;
  background-position: 0% 0%;
  color: var(--orange-200);
  padding-top: 220px;
}
.homeLink {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeLink a,
.homeLink a:visited {
  font-size: larger;
  font-weight: 500;
  color: var(--blue-200);
}
.cPage p {
  width: 80%;
  text-align: center;
  text-shadow: -2px 0 var(--main-blue), 0 2px var(--main-blue),
    2px 0 var(--main-blue), 0 -2px var(--main-blue);
}
@media only screen and (max-width: 1023px) {
  .completion {
    background-position: 10% 24%;
    padding-top: 80px;
  }
}
