.completion {
  width: 1000px;
  height: 1000px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../../assets/full.jpg");
  background-size: no-repeat;
  background-position: center;
  color: var(--orange-200);
}
.homeLink {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeLink a,
.homeLink a:visited {
  font-size: larger;
  font-weight: 500;
  color: var(--blue-200);
}
.page p {
  width: 80%;
  text-align: center;
  text-shadow: -2px 0 var(--main-blue), 0 2px var(--main-blue),
    2px 0 var(--main-blue), 0 -2px var(--main-blue);
}
@media only screen and (max-width: 991px) {
  .page {
    padding-top: 0;
  }
  .completion {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 10% 24%;
    padding-top: 80px;
  }
}
