.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: bold;
  width: 100%;

  border-radius: 10px;
  background-color: var(--bluegray-300);
}
.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--blue-200);
  font-size: larger;
  font-weight: 600;
  text-wrap: wrap;
}
/* Target all child divs except the first and last */
.menu > div:not(:first-child):not(:last-child) {
  margin: 10px;
}

/* Target the first child div */
.menu > div:first-child {
  margin-left: 0;
  margin-right: 10px;
}

/* Target the last child div */
.menu > div:last-child {
  margin-right: 0;
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .menu {
    flex-direction: column;
    justify-content: start;
    width: 25%;
    /* height: 320px; */
  }
  .menuItem {
    width: 95%;
    min-height: 80px;
    text-align: center;
    font-size: small;
    font-weight: 400;
    padding: 5px;
  }

  .menu > div:not(:first-child):not(:last-child) {
    margin: 5px 0;
  }

  .menu > div:first-child {
    margin: 5px 0;
  }

  .menu > div:last-child {
    margin: 5px 0;
  }
}
