.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: bold;
  width: 100%;
  min-height: 6rem;
  border-radius: 10px;
  background-color: #8aaeb5;
}
.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 80%;
  margin: 6px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--blue-200);
}
@media only screen and (max-width: 991px) {
  .menu {
    flex-direction: column;
    justify-content: start;
    width: 20vw;
    height: 40rem;
  }
  .menuItem {
    width: 95%;
    text-align: center;
  }
}
