:root {
  --main-blue: #425374;
  --blue-23: #8aaeb5;
  --blue-24: #6999b7;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: large;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-200);
  overflow-x: hidden;
  overflow-y: hidden;
  /* Each PrimeReact theme has its own font family so it is suggested to apply it */
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--indigo-800);
  border: solid 2px var(--main-blue);
}

img {
  object-fit: cover;
}
a {
  text-decoration: none;
  color: var(--orange-800);
}
a:visited {
  color: var(--main-blue);
}

@media only screen and (max-width: 991px) and (orientation: portrait) {
  html {
    font-size: small;
  }
}
