.footer {
  margin-top: auto;
  height: 10rem;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-image: url("../../assets/footer.svg");
  background-position: 50% 29%; /* Adjust these values to show the desired part of the SVG */
}

@media only screen and (max-width: 991px) {
  .footer {
    background-position: 0 24%; /* Show the entire SVG */
  }
}
